* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* =====================NAV===================== */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 30px;
    width: 100%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    margin: auto 8px;
    padding-left: 0px;
    display: flex;
    list-style-type: none;
}

.nav-item {
    padding: 0px 8px 0px 8px;
    font-size: 13px;
    font-weight: 500;
    color: #9d9d9d;
}

.nav-item>img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

/* =====================End NAV===================== */

.content{
    display: flex;
    margin-top: 30px;
}

.side-bar{
    flex: 1;
    height: 100vh;
    border-right: 1px solid #d9d7d7;
    display: flex;
    flex-direction: column;
    align-content:center
}

.main-content{
    flex: 8;
    display: flex;
    flex-direction: column;
}

.top-content{
    height: 86px;
    display: flex;
    border-bottom: 1px solid #d9d7d7;
}

.right{
    flex: 1;
}

.right>h3{
    margin: 16px auto auto 16px;
    color: #9d9d9d;
    font-weight: 400;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-top{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 16px;
}

.left-top > input {
    height: 60%;
    width: 90%;
    margin-top: 8px;
    margin-right: 8px;
}

.left-bottom{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.left-bottom > button{
    height: 60%;
    margin-right: 16px;
}

.currentPage{
    font-size: 13px;
    font-weight: 700px;
    margin-right: 16px;
}

.listEmployee{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employeeInlist{
    width: 23.5%;
    height: 100px;
    margin-top: 16px;
    border: 0.5px solid #d9d7d7;
    display: flex;
    align-items: center;
}

.employeeInlist img{
    height: 60%;
    margin: 8px;
}

.infor{
    flex: 1;
    margin-right: 16px;
}

.infor-employee p{
    margin:0px auto 5px auto;
    font-size: 13px;
    color: #7c7bad;
}

.infor button {
    float: right;
    min-width: 36px;
    height: 26px;
    background-color: #7c7bad;
    color: #d9d7d7;
    border: none;
}
